.Sidebar{
    height: calc(100vh - var(--navbar-height));
    width: var(--side-bar-width);
    background: var(--inverted-bg-color);


    position: relative;
    transition: width 0.2s;
}


.switchers{
    position: absolute;
    bottom: 20px;
    display: flex;
    
    justify-content: center;
    width: 100%;
}

.collapsed{
    width: var(--side-bar-width-collapsed);
    .switchers{
        flex-direction: column;
    }
}

.openclose{
    display: flex;
    justify-content: center;
    width: 100%;
}


.items{
    margin-left: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.link{
    margin-top: 10px;
}