.app.dark{
    --bg-color:#1b3052;
    --inverted-bg-color:#f8ccf5;

    --primary-color:#ff00b7;
    --secondary-color:#f50cf1;

    --inverted-primary-color:#000000;
    --inverted-secondary-color:#494949;


    
}