.app.light{
    --bg-color:#f8ccf5;
    --inverted-bg-color:#1b3052;


    --primary-color:#000000;
    --secondary-color:#494949;

    --inverted-primary-color:#ff00b7;
    --inverted-secondary-color:#f50cf1;
    
}